#form {
  background-color: #0A0A0A; /* Black for form background */
  color: #BFC0C0; /* Light text for form */
  border-radius: 10px; /* Rounded corners for the form */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 350px;
  border: 2px solid #5E1914; /* Border color */
}

/* Input Field Styling */
#emailInput {
  background-color: #BFC0C0; /* Input background matches main background */
  color: #0A0A0A; /* Dark text for input */
  border: 2px solid #5E1914; /* Border color */
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px; /* Rounded corners */
  font-weight: 1000; /* Bold text */
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
}

/* Button Styling */
#Btn {
  background-color: #5E1914; /* Deep brown for button background */
  color: #BFC0C0; /* Light color for button text */
  border-radius: 5px;
  padding: 10px 20px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

/* Text Styling */
h1, a, p {
  color: #BFC0C0; /* Light color for text on black background */
}

/* Message after reset email sent */
p {
  text-align: center;
  margin-top: 20px;
}
