@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Condensed:ital,wght@1,300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Welcome section */
.WelcomeMessage h1 {
    font-size: 40px;
    color: #8D021F;
    background-color: #BFC0C0;
    margin-top: 0;
    padding-top: 15px;

}


.WelcomeMessage {
    min-height: 100px;
    background-color: #BFC0C0;
    margin-top: 0; /* Removes any top margin */
  }

/* Subscription Details section */
.SubscriptionDetails {
    background-color: #BFC0C0;
    padding: 20px;
    text-align: center;
    border: 2px solid #8D021F; /* Adding a border */
    border-bottom: none;
}

.SubscriptionDetails h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: 8D021F;
    margin-bottom: 20px;
}

.SubscriptionDetails table {
    margin: 0 auto;
    width: 80%; /* Adjust as needed */
    border-collapse: collapse;
}

.SubscriptionDetails th,
.SubscriptionDetails td {
    border: 1px solid 8D021F;
    padding: 8px;
    text-align: center;
}


/* Updated SearchBar styles for Home page */
.SearchBarHome {
    min-height: 450px;
    background-color:#BFC0C0;
    text-align: center; /* Center the content */
}

.SearchBarHome .container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
    max-width: 1700px;
    margin: 0 auto;
    overflow: auto;
    padding: 0, 40px;
    justify-content: center;
    min-height: 350px;
}

.SearchBarHome label {
    font-size: 45px;
    color: #8D021F;
}

.SearchBarHome input {
    background-color: #0A0A0A;
    font-size: large;
    color: #BFC0C0;
    width: 500px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #8D021F;
    padding: 5px;
    outline: none;
}






/* Subscribe section */
.Subscribe_Button {
    min-height: 100px;
    background-color: #BFC0C0;
    text-align: center; /* Centering the button */
    padding: 20px 0; /* Adds padding above and below the button */
    border: 2px solid #8D021F; /* Adding a border */
    border-top: none;
    border-bottom: none;
}

.Subscribe_Button button {
    background-color: 8D021F;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Adding a hover effect to the button */
.Subscribe_Button button:hover {
    background-color: #728080;
}
