@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Condensed:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #8D021F;
    line-height: 1.6;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* use viewport height */
}



ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #BFC0C0;
}

h1, h1 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    max-width: 1700px;
    margin: 0 auto;
    overflow: auto;
    padding: 0, 40px;
}


/* NavBar Styiling:*/

.navbar {
    background-color: #0A0A0A;
    height: 80px;
}

.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .left-side {
    display: flex;
    align-items: center
}
 .navbar ul {
    display: flex;
 }

 .navbar .NavSignUp, .NavLogin, .NavSearch, .RankMovie , .NavSubscription {
    padding: 10px;
    color: #BFC0C0;
    font-size: 18px;
    margin: 0 5px;
 }

 .navbar .NavSignUp:hover, .NavLogin:hover, .NavSearch:hover, .RankMovie:hover, .NavProfileIcon:hover, .RankMovie:hover, .NavSearch:hover, .NavSubscription:hover {
    border-bottom: 2px #BFC0C0 solid;
    color: #8D021F; /* Add this line to change the text color to red on hover */
}


.navbar .container .MovieName-link{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
    color: #8D021F;
    font-size: 35px;
}

.navbar .container .RankerName-link {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
    color: #5E1914;
    font-size: 35px;
}

.NavLogo {
    height: 65px;
    width: auto;
    align-items: center;
    padding-top: 2px;
}



.NavProfileIcon {
    height: 30px; /* Adjust the size as needed */
    width: 30px; /* Maintain aspect ratio */
    border-radius: 50%; /* To make it round */
    margin-right: 10px; /* Adjust margin as needed */
    margin-left: 10px;
    cursor: pointer; /* Change cursor on hover */
    object-fit: cover; /* Ensures the image is scaled correctly within the element */
    vertical-align: middle; /* Align vertically with other navbar items */
    border: 2px solid #BFC0C0; /* Optional: Adds a border around the profile icon */
}

/* Navbar Styiling Complete */


/* Footer Styiling*/

.footer {
    background-color: #0A0A0A;
    padding: 20px 0;
    color: #BFC0C0;
    text-align: center;
}

.footer-content {
    flex-direction: column;
    align-items: center;
}

.footer-links {
    /* Align links horizontally */
    display: flex;
    justify-content: center; /* Center the links horizontally */
    gap: 20px; /* Adjust the space between the links */
}

.footer-links a {
    color: #BFC0C0;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-media a {
    margin: 0 10px;
    color: #BFC0C0;
    font-size: 24px;
}

.social-media a:hover {
    color: #8D021F;
}

/* CopyRight */
footer p {
    margin-top: 20px;
    font-size: 14px;
}


/* Footer Styiling Complete */
